<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>
            Режим администратора
        </title>
        <link rel = "stylesheet" type = "text/css" href = "main.css">
    </head>
<body>
    <ul class = "menu">
        <li><a href = "shop.html">Каталог</a></li>
    </ul>
    <br><br>
    <div class = "container">
		<section>
			<form>
				<label>
					<input name = "title" type = "text">
					<div class = "label-text">
						Введите название книги
					</div>
				</label>
				<label>
					<input name = "author" type = "text">
					<div class = "label-text">
						Введите автора книги
					</div>
				</label>
				<label>
					<input name = "genre" type = "text">
					<div class = "label-text">
						Введите жанр книги
					</div>
				</label>
				<label>
					<input name = "publication" type = "text">
					<div class = "label-text">
						Введите издательство книги
					</div>
				</label>
				<label>
					<input type = "text" name = "price" id = "password">
					<div class = "label-text">
						Введите цену (только число)
					</div>
				</label>
				<button type = "submit" value = "submit" class = "buttons" formaction="shop.html">
					Добавить
				</button>
			</form>
		</section>
	</div>
</body>
</html>