<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <title>Регистрация</title>
  <link rel = "stylesheet" type = "text/css" href = "main.css">
</head>
<body>
<div class = "container">
  <section>
    <form id = "send" method = "post">
      <label>
        <input name = "clientName" type = "text" form = "send">
        <div class = "label-text">
          Введите ФИО
        </div>
      </label>
      <label>
        <input name = "phone" type = "text" form = "send">
        <div class = "label-text">
          Введите номер телефона
        </div>
      </label>
      <label>
        <input name = "address" type = "text" form = "send">
        <div class = "label-text">
          Введите адрес
        </div>
      </label>

      <label>
        <input name = "login" type = "text" form = "send">
        <div class = "label-text">
          Придумайте логин
        </div>
      </label>
      <label>
        <input type = "password" name = "clientPassword" id = "password" form = "send">
        <div class = "label-text">
          Придумайте пароль
        </div>
      </label>
      <button type="submit" class = "buttons" href="/list">
        Зарегистрироваться
      </button>
    </form>
  </section>
</div>
</body>
</html>