<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <title>
        Магазин
    </title>
    <link rel = "stylesheet" type = "text/css" href = "main_2.css">
</head>
<body>
<!-- // cart-item__details --<ul class = "menu">
  <li><a href = "shop.html">Каталог</a></li>
  <li><a href = "cart.html">Корзина</a></li>
</ul><!- // cart-item__details -->
<div class="container mb-5">
    <div class="row">

        <!-- Товары -->
        <div class="col-md-8">
            <div class="row" id="products-container">

            </div>
        </div>

        <!-- Корзина -->
        <div class="col-md-4">

            <!-- Корзина -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ваш заказ</h5>

                        <div data-cart-empty class="alert alert-secondary" role="alert">
                            Корзина пуста
                        </div>

                        <!-- cart-wrapper -->
                        <div class="cart-wrapper">

                        </div>
                        <!-- // cart-wrapper -->

                        <!-- Стоимость заказа -->
                        <div class="cart-total">
                            <p><span class="h5">Итого:</span>
                                <span class="total-price">0</span>
                                <span class="rouble">₽</span></p>
                        </div>
                        <!-- // Стоимость заказа -->

                </div>

                <!-- Оформить заказ -->
                <div id="order-form" class="card-body border-top none">
                    <h5 class="card-title">Оформить заказ</h5>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ваш номер телефона">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ваше ФИО">
                            </div>
                            <button type="submit" class="button-shop" onclick="alert('Ваш заказ принят в работу!')">Заказать</button>
                        </form>
                </div>
                <!-- // Оформить заказ -->

            </div>
            <!-- // Корзина -->

        </div>

    </div>
</div>

<script src="renderProducts.js"></script>
<script src="calcCartPrice.js"></script>
<script src="toggleCartStatus.js"></script>
<script src="counter.js"></script>
<script src="cart.js"></script>

</body>
</html>